a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: green;
    color: white;}

    img {
        width: 700px;
        height: 500px;
    }
    
    #box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    h1 {
        text-align: center;
    }

    #home {
        text-align: center;
    }

    #about {
        display: flex;
        justify-content: center;
        
    }

    #about  a {
        margin: 0 30px;
    }